// colors
$primaryBlue: #4A90E2;
$darkBlue: #00408B;
$warningRed: #D0021B;
$hintYellow: #F5A623;
$lightOrange: #FFF2DC;
$lightGray: #F2F2F2;
$gray: #C8C8C8;
$darkGary: #757575;
$pureWhite: #FFFFFF;
$pureBlack: #000000;

$backgroundColor: #E1E1E1;

// fonts
$regular: 400;
$normal: 400;
$medium: 500;
$bold: 700;